AlertScript.log
settings.config.txt
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/OrderBot-1.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/OrderBot-1.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/OrderBot-1.assets.cache
obj/Debug/netcoreapp3.1/OrderBot-1.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/OrderBot-1.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/OrderBot-1.csprojAssemblyReference.cache
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/OrderBot-1.dll
bin/Debug/netcoreapp3.1/OrderBot-1.exe
bin/Debug/netcoreapp3.1/OrderBot-1.pdb
bin/Debug/netcoreapp3.1/WebDriver.dll
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/OrderBot-1.csproj.CopyComplete
obj/Debug/netcoreapp3.1/OrderBot-1.dll
obj/Debug/netcoreapp3.1/OrderBot-1.exe
obj/Debug/netcoreapp3.1/OrderBot-1.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/OrderBot-1.pdb
.vscode/launch.json
bin/settings.config/netcoreapp3.1/CommandLine.dll
bin/settings.config/netcoreapp3.1/Newtonsoft.Json.dll
bin/settings.config/netcoreapp3.1/OrderBot-1.deps.json
bin/settings.config/netcoreapp3.1/OrderBot-1.dll
bin/settings.config/netcoreapp3.1/OrderBot-1.exe
bin/settings.config/netcoreapp3.1/OrderBot-1.pdb
bin/settings.config/netcoreapp3.1/OrderBot-1.runtimeconfig.dev.json
bin/settings.config/netcoreapp3.1/OrderBot-1.runtimeconfig.json
bin/settings.config/netcoreapp3.1/WebDriver.dll
obj/settings.config/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/settings.config/netcoreapp3.1/OrderBot-1.AssemblyInfo.cs
obj/settings.config/netcoreapp3.1/OrderBot-1.AssemblyInfoInputs.cache
obj/settings.config/netcoreapp3.1/OrderBot-1.assets.cache
obj/settings.config/netcoreapp3.1/OrderBot-1.csproj.CopyComplete
obj/settings.config/netcoreapp3.1/OrderBot-1.csproj.CoreCompileInputs.cache
obj/settings.config/netcoreapp3.1/OrderBot-1.csproj.FileListAbsolute.txt
obj/settings.config/netcoreapp3.1/OrderBot-1.csprojAssemblyReference.cache
obj/settings.config/netcoreapp3.1/OrderBot-1.dll
obj/settings.config/netcoreapp3.1/OrderBot-1.exe
obj/settings.config/netcoreapp3.1/OrderBot-1.genruntimeconfig.cache
obj/settings.config/netcoreapp3.1/OrderBot-1.pdb
bin/Debug/netcoreapp3.1/debug.log
drivers/chromedriver.exe
settings.config
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/netcoreapp3.1/Twilio.dll
obj/project.nuget.cache
settings.config
